---
import DownloadIcon from "../icons/DownloadIcon.svg";
import { Picture } from "astro:assets";
import flagshipScreenshot from "../../assets/41/screenshots/flagship.webp";
import gnomeScreenshot from "../../assets/41/screenshots/GNOME.webp";
import plasmaScreenshot from "../../assets/41/screenshots/plasma.webp";
import flagshipScreenshotDark from "../../assets/41/screenshots/flagship-dark.webp";
import gnomeScreenshotDark from "../../assets/41/screenshots/GNOME-dark.webp";
import plasmaScreenshotDark from "../../assets/41/screenshots/plasma-dark.webp";
---

<section
  id="hero"
  class="lg:mt-8 pt-4 mb-4 lg:mb-32 flex flex-row justify-between items-start max-w-(--breakpoint-2xl) mx-auto px-8 md:px-16"
>
  <div id="hero-left" class="max-w-2xl mr-8 mt-10 lg:mt-12 mb-16 lg:mb-0">
    <div class="text-bg-container">
      <h1
        class="hero-text font-bold text-4xl lg:text-5xl sm:text-6xl mb-2 leading-loose block"
      >
        Do your thing
      </h1>
    </div>
    <span class="inline-block lg:text-lg max-w-xl 2xl:max-w-2xl text-gray-200">
      Ultramarine is a modern operating system that lets you just do your thing
      with the hardware and tools you already love. For work, school, and play.
      However you use your system, we have you covered with tweaks and tools to
      make things run smoother.
    </span>

    <div
      id="button-row"
      class="flex flex-col md:flex-row gap-2 md:gap-6 mt-4 md:mt-8"
    >
      <a href="/download">
        <button
          class="flex flex-row gap-2 items-center justify-center px-6 py-2 bg-accent-700 rounded-xl text-gray-50 hover:bg-accent-800 text-lg transition-colors"
        >
          <DownloadIcon />
          <span>Get Ultramarine</span>
        </button>
      </a>
    </div>
  </div>

  <div id="hero-right" class="xl:block hidden">
    <div class="relative">
      <div class="absolute top-20 right-36 -rotate-12 w-[400px] h-[240px]">
        <Picture
          src={flagshipScreenshot}
          alt="Screenshot of Ultramarine Flagship in light mode"
          formats={["avif", "webp"]}
          quality={80}
          class="rounded-lg dark:hidden"
        />
        <Picture
          src={flagshipScreenshotDark}
          alt="Screenshot of Ultramarine Flagship in dark mode"
          formats={["avif", "webp"]}
          quality={80}
          class="rounded-lg hidden dark:block"
        />
      </div>
      <div class="absolute top-6 -right-4 rotate-[8deg] w-[400px] h-[240px]">
        <Picture
          src={gnomeScreenshot}
          alt="Screenshot of Ultramarine GNOME in light mode"
          formats={["avif", "webp"]}
          quality={80}
          class="rounded-lg dark:hidden"
        />
        <Picture
          src={gnomeScreenshotDark}
          alt="Screenshot of Ultramarine GNOME in dark mode"
          formats={["avif", "webp"]}
          quality={80}
          class="rounded-lg hidden dark:block"
        />
      </div>
      <div class="absolute top-40 right-8 rotate-2 w-[400px] h-[240px]">
        <Picture
          src={plasmaScreenshot}
          alt="Screenshot of Ultramarine Plasma in light mode"
          formats={["avif", "webp"]}
          quality={80}
          class="rounded-lg dark:hidden"
        />
        <Picture
          src={plasmaScreenshotDark}
          alt="Screenshot of Ultramarine Plasma in dark mode"
          formats={["avif", "webp"]}
          quality={80}
          class="rounded-lg hidden dark:block"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .hero-text {
    background-image: url("/texture.webp");
    background-clip: text;
    webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    line-height: 1.2;
  }
</style>
