---
import DownloadSection from "../components/DownloadSection.astro";
import SmallDownloadCard from "../components/SmallDownloadCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import budgieScreenshot from "../assets/43/screenshots/budgie.webp";
import gnomeScreenshot from "../assets/43/screenshots/gnome.webp";
import xfceScreenshot from "../assets/43/screenshots/xfce.webp";
import plasmaScreenshot from "../assets/43/screenshots/plasma.webp";
import budgieScreenshotDark from "../assets/43/screenshots/budgie-dark.webp";
import gnomeScreenshotDark from "../assets/43/screenshots/gnome-dark.webp";
import xfceScreenshotDark from "../assets/43/screenshots/xfce-dark.webp";
import plasmaScreenshotDark from "../assets/43/screenshots/plasma-dark.webp";
import DownloadOptions from "../components/DownloadOptions";
import { makeT } from "../i18n.ts";
const t = makeT(Astro.params.lang ?? "en");
const version = "43";
const codename = "Gas Meter";
---

<BaseLayout>
  <div
    class="flex flex-col items-start max-w-(--breakpoint-xl) mx-auto px-8 md:px-16 mt-12"
  >
    <h1 class="text-4xl font-bold">{t("download.pickFlavor")}</h1>
    <h2 class="pt-1 text-gray-500">
      {t("download.latestRelease", { version, codename })}
    </h2>

    <DownloadOptions client:load lang={Astro.params.lang} />

    <div
      class="flex flex-col items-center justify-center gap-10 mt-8 mb-24 w-full"
    >
      <DownloadSection
        editionName="Plasma"
        screenshot={plasmaScreenshot}
        screenshotDark={plasmaScreenshotDark}
        background="/umbrella_bg.webp"
        description={t("download.plasmaDescription")}
        version={version}
      />

      <DownloadSection
        editionName="Xfce"
        screenshot={xfceScreenshot}
        screenshotDark={xfceScreenshotDark}
        description={t("download.xfceDescription")}
        version={version}
      />

      <DownloadSection
        editionName="Budgie"
        screenshot={budgieScreenshot}
        screenshotDark={budgieScreenshotDark}
        description="A familiar and stylish experience with a bit of flair."
        version={version}
      />

      <DownloadSection
        editionName="GNOME"
        screenshot={gnomeScreenshot}
        screenshotDark={gnomeScreenshotDark}
        description={t("download.gnomeDescription")}
        version={version}
      />
    </div>

    <h2 class="text-3xl font-bold">{t("download.alternateDownloads")}</h2>
    <p class="pt-1 text-gray-500">{t("download.alternateDescription")}</p>

    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 w-full mt-8 mb-48">
      <SmallDownloadCard
        title={t("download.wslTitle")}
        description={t("download.wslDescription")}
        link="https://apps.microsoft.com/store/detail/9PBPG2RDMZB9?cid=DevShareMCLPCB"
      />
      <SmallDownloadCard
        title={t("download.preinstalledTitle")}
        description={t("download.preinstalledDescription")}
        link={`https://images.fyralabs.com/images/ultramarine/${version}/`}
      />
      <SmallDownloadCard
        title={t("download.torrentsTitle")}
        description={t("download.torrentsDescription")}
        link="https://fosstorrents.com/distributions/ultramarine-linux/"
      />
      <SmallDownloadCard
        title={t("download.oldReleasesTitle")}
        description={t("download.oldReleasesDescription")}
        link="https://images.fyralabs.com/"
      />
    </div>
  </div>
</BaseLayout>
