---
import DownloadSection from "../components/DownloadSection.astro";
import SmallDownloadCard from "../components/SmallDownloadCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import flagshipScreenshot from "../assets/41/screenshots/flagship.png";
import gnomeScreenshot from "../assets/41/screenshots/GNOME.png";
import xfceScreenshot from "../assets/41/screenshots/xfce.png";
import plasmaScreenshot from "../assets/41/screenshots/plasma.png";
import flagshipScreenshotDark from "../assets/41/screenshots/flagship-dark.png";
import gnomeScreenshotDark from "../assets/41/screenshots/GNOME-dark.png";
import xfceScreenshotDark from "../assets/41/screenshots/xfce-dark.png";
import plasmaScreenshotDark from "../assets/41/screenshots/plasma-dark.png";
---

<BaseLayout>
  <div
    class="flex flex-col items-start min-h-screen max-w-screen-xl mx-auto px-8 md:px-16 mt-12"
  >
    <h1 class="text-4xl font-bold">Pick Your Flavor of Ultramarine</h1>
    <h2 class="pt-1 text-gray-500">Latest Release: 41 (Cyberia)</h2>

    <div
      class="flex flex-col items-center justify-center gap-10 mt-8 mb-24 w-full"
    >
      <DownloadSection
        editionName="Flagship"
        screenshot={flagshipScreenshot}
        screenshotDark={flagshipScreenshotDark}
        background="/umbrella_bg.webp"
        downloadLink="https://images.fyralabs.com/isos/ultramarine/41/ultramarine-flagship-41-live-x86_64.iso"
        description="The quintessential Ultramarine experience. Our in-house design language with a familiar and stylish experience built on the Budgie desktop."
      />

      <DownloadSection
        editionName="Plasma"
        screenshot={plasmaScreenshot}
        screenshotDark={plasmaScreenshotDark}
        description="A community favorite with an Ultramarine twist. Simple defaults and wide-ranging customizations."
        downloadLink="https://images.fyralabs.com/isos/ultramarine/41/ultramarine-plasma-41-live-x86_64.iso"
      />

      <DownloadSection
        editionName="XFCE"
        screenshot={xfceScreenshot}
        screenshotDark={xfceScreenshotDark}
        description="A lightweight and elegant experience designed to help you squeeze the most out of your device, or revive an old one."
        downloadLink="https://images.fyralabs.com/isos/ultramarine/41/ultramarine-xfce-41-live-x86_64.iso"
      />

      <DownloadSection
        editionName="GNOME"
        screenshot={gnomeScreenshot}
        screenshotDark={gnomeScreenshotDark}
        description="A simple, elegant, and intuitive desktop with a large ecosystem of apps and extensions."
        downloadLink="https://images.fyralabs.com/isos/ultramarine/41/ultramarine-gnome-41-live-x86_64.iso"
      />
    </div>

    <h2 class="text-3xl font-bold">Alternate Downloads</h2>
    <p class="pt-1 text-gray-500">Ultramarine in various alternative formats</p>

    <div class="flex flex-row flex-wrap gap-4 w-full mt-8 mb-48">
      <SmallDownloadCard
        title="Torrents"
        description="Check out our torrents provided by FOSSTorents"
        link=""
      />
      <SmallDownloadCard
        title="Raw Images"
        description="A preinstalled copy of Ultramarine for flashing directly to your device’s storage"
        link=""
      />
      <SmallDownloadCard
        title="Old Releases"
        description="For archival purposes, you can download old releases here"
        link=""
      />
    </div>
  </div>
</BaseLayout>
