---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  editionName: string;
  screenshot: ImageMetadata;
  downloadLink: string;
  description: string;
}

const { editionName, screenshot, downloadLink, description } = Astro.props;
const checksumLink = downloadLink + ".sha256sum";
---

<div class="flex flex-col items-center">
  <Image
    src={screenshot}
    alt={"Ultramarine" + editionName + "Screenshot"}
    class="h-auto pb-4 rounded-sm w-96"
    loading="eager"
  />

  <div class="flex flex-col items-center">
    <a
      href={downloadLink}
      class="px-4 py-2 font-semibold text-gray-900 bg-transparent border-2 border-blue-500 rounded-lg dark:text-gray-50 hover:bg-blue-600 hover:text-gray-50"
    >
      <i class="fa fa-download"></i> &nbsp; Download {editionName} Edition
    </a>

    <div class="flex flex-col items-center gap-3 mt-2">
      <a href={checksumLink} class="text-gray-400">View Checksum</a>
    </div>
  </div>

  <div class="pt-2">
    <p class="max-w-md text-lg text-center">
      {description}
    </p>
  </div>
</div>
